<launch>

  <node pkg="map_server" type="map_server" name="map_server"  args="$(find ais_ros_localizer)/map/mapfile.yaml" />
  
  <node name="localizer" pkg="ais_ros_localizer" type="localizer">
  
  <param name="number_of_particles" value="5000"/>
  <param name="maxLocalizationRange" value="54.0"/>
  <param name="maxRange" value="55.0"/>
  <param name="motion_param_magnitude" value="2.0"/>
  <param name="motion_param_ff" value="0.2"/> <!-- 0.2-->
  <param name="motion_param_fs" value="0.1"/> <!-- 0.1-->
  <param name="motion_param_fr" value="0.2"/> <!-- 0.1-->
  <param name="motion_param_rr" value="0.2"/> <!-- 0.2-->
  <param name="motion_param_sth" value="0.5"/> <!-- 0.0-->
  <param name="dMapTheshold" value="2"/>
  <param name="observationSigma" value="0.8"/>  		
  <param name="use_second_laser" value="false"/>
  <param name="front_laser_frame_ID" value="hokuyo1_base"/>
  <param name="scan_front_topic" value="/hk1/scan"/>
  <param name="sm_point2line_outliers_maxPerc"  value="0.5"/>
  <param name="sm_use_trimed_mean_as_reference_scan"  value="false"/>

  </node>

 <node pkg="rviz" type="rviz" name="rviz"   />
</launch>
