<launch>
  <arg name="octomap_file" default="$(find squirrel_navigation)/octomaps/default-octomap.bt"/>
  <arg name="config_file" default="$(find squirrel_localizer)/config/robotino_localization.yaml"/>

  <include file="$(find squirrel_3d_mapping)/launch/3d_mapping.launch">
    <arg name="octomap_file" value="$(arg octomap_file)"/>
  </include>

  <node pkg="squirrel_localizer" type="squirrel_localizer_node" name="squirrel_localizer_node" output="screen" respawn="true">
    <rosparam file="$(arg config_file)" command="load" />
  </node>

</launch>
