local_costmap: {
  global_frame: /map,
  robot_base_frame: /base_link,
  update_frequency: 5.0,
  publish_frequency: 5.0,
  static_map: false,
  rolling_window: false,
  resolution: 0.05,
  static_layer/enabled: false,
  obstacles_layer/enabled: true,
  inflation_layer/enabled: true}
