sudo: required
dist: trusty
# Force travis to use its minimal image with default Python settings
language: generic

env:
  global:
    - ROS_DISTRO="indigo"
    - UPSTREAM_WORKSPACE=file
    - WRITABLE_SOURCE=true
install:
  - git clone --depth=1 https://github.com/ipa-mdl/industrial_ci.git -b target-repo-rw .ci_config
script:
  - .ci_config/travis.sh 
