<!-- This file demonstrates the use of SIFT features for online SLAM with a Kinect.
     The openni driver has to be started seperately -->
<launch>
<env name="ROSCONSOLE_CONFIG_FILE" value="$(find squirrel_rgbd_mapping)/log.conf"/>
<env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${message}"/>

  <!-- OPENNI 
  <include file="$(find openni_launch)/launch/openni.launch">
  <arg name="rgb_camera_info_url" value="file://$(find xtion_calibrated)/cal.yml" />
  <arg name="depth_camera_info_url" value="file://$(find xtion_calibrated)/cal_ir.yml" />
  <arg name="camera" default="camera1"/>
  <arg name="device_id" default="#1"/>*
  </include>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="rgb_camera_info_url" value="file://$(find rgbdslam)/xtion_calibrated/cal.yml" />
  <arg name="depth_camera_info_url" value="file://$(find rgbdslam)/xtion_calibrated/cal_ir.yml" />
  <arg name="camera" default="camera2"/>
  <arg name="device_id" default="#2"/>*
  </include>
  <node pkg="dynamic_reconfigure" type="dynparam" name="setregistration1" args="set camera1/driver depth_registration True"/>
  <node pkg="dynamic_reconfigure" type="dynparam" name="setregistration2" args="set camera2/driver depth_registration True"/>
  <node pkg="dynamic_reconfigure" type="dynparam" name="setdataskip1" args="set camera1/driver data_skip 2"/>
  <node pkg="dynamic_reconfigure" type="dynparam" name="setdataskip2" args="set camera2/driver data_skip 2"/>
-->
  <!-- RGBDSLAM -->
  <node pkg="squirrel_rgbd_mapping" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="screen" >
    <!-- Input data settings-->
    <!-- one cams -->
    <param name="config/topic_image_mono"              value="/camera/rgb/image_raw"/> 
    <param name="config/camera_info_topic"             value="/camera/rgb/camera_info"/> 
    <param name="config/topic_image_depth"             value="/camera/depth/image_raw"/>
    <param name="config/topic_image_mono_split"        value=""/> 
    <param name="config/camera_info_topic_split"       value=""/> 
    <param name="config/topic_image_depth_split"       value=""/>
    <param name="config/encoding_bgr"                  value="false"/>

    <param name="config/odometry_tpc"                  value="/odom"/>
    <param name="config/use_robot_odom"                value="false"/>
    <param name="config/odom_frame_name"               value="odom"/>
    <param name="config/calibrate_odometry_online"     value="true"/>
    <param name="config/base_frame_name"               value="camera_link"/>

    <!--<param name="config/bagfile_name"                  value="/data/rgbdslam-odom/catadioptric_experiment_two_xtionpro_2014-02-06-01-37-06.bag"/>-->
    <!--<param name="config/bagfile_name"                  value="/data/rgbdslam-odom/benchmark-csail/test/strata_2012-04-06-11-15-29.bag"/>-->
    <param name="config/bagfile_name"                  value="/home/boniardi/Development/bags/rgbdslam.bag"/>

    <param name="config/feature_detector_type"         value="SURF"/>
    <param name="config/feature_extractor_type"        value="SURF"/>
    <param name="config/nn_distance_ratio"             value="0.80"/> 
    <param name="config/max_keypoints"                 value="800"/>
    <param name="config/cloud_creation_skip_step"      value="10"/>
    <param name="config/create_cloud_every_nth_node"   value="5"/>
    <param name="config/cloud_display_type"            value="POINTS"/>
    <param name="config/gl_axis_size"                  value="0.05"/>
    <param name="config/gl_point_size"                 value="2"/>
    <param name="config/subscriber_queue_size"         value="12"/>
    <param name="config/max_dist_for_inliers"          value="1.5"/> <!--matches considered inliers by ransac (in mahalanobis distance, i.e. std deviations)-->
    <param name="config/min_matches"                   value="20"/><!-- Prune unreliable transformations from too few feature matches -->
    <param name="config/min_time_reported"             value="0.1"/><!-- for easy runtime analysis -->
    <param name="config/predecessor_candidates"        value="3"/>
    <param name="config/neighbor_candidates"           value="3"/>
    <param name="config/min_sampled_candidates"        value="3"/>
    <param name="config/keep_all_nodes"                value="true"/>
    <param name="config/optimizer_skip_step"           value="50"/><!-- optimize every n-th frame. Set high for offline operation -->
    <param name="config/use_feature_min_depth"         value="false"/>

    <param name="config/optimizer_iterations"          value="0.01"/>
    <param name="config/g2o_transformation_refinement" value="0"/>
    <param name="config/calibration_information_factor" value="10"/>
    <param name="config/calibration_prior_factor"      value="100"/>
    <param name="config/show_2d_display"               value="false"/>
    <param name="config/start_paused"                  value="false"/>
    <param name="config/skip_first_n_frames"           value="1"/>
    <param name="config/stop_after_n_frames"           value="1000000000"/>
    <param name="config/data_skip_step"                value="1"/>
    <param name="config/maximum_depth"                 value="2.5"/>
    <param name="config/concurrent_node_construction"  value="true"/> 
    <param name="config/concurrent_io"                 value="false"/> 
    <param name="config/batch_processing"              value="false"/> 
    <param name="config/pose_relative_to"              value="first"/> 
    <param name="config/drop_async_frames"             value="false"/> 
    <param name="config/observability_threshold"       value="0"/> 

    <param name="config/backend_solver"                value="pcg"/> 
    <param name="config/store_pointclouds"             value="true"/> 
  </node>
</launch>
