<launch>
  <arg name="rviz" default="true"/>
  
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <param name="xmin" value="-10" />
    <param name="xmax" value="10" />
    <param name="ymin" value="-10" />
    <param name="ymax" value="10" />
    <param name="delta" value="0.025" />
    <param name="particles" value="100"/>
  </node>

  <!-- Run rviz -->
  <include file="$(find squirrel_navigation)/launch/rviz.launch" if="$(arg rviz)">
    <arg name="mapping" value="true"/>
    <arg name="robot" value="robotino"/>
  </include>
</launch>
