<launch>
  <arg name="map_file" default="$(find squirrel_navigation)/maps/default-map.yaml" />
  <arg name="3d_mapping" default="false" />
  <arg name="use_last_pose" default="true"/>
  <arg name="twist_mux" default="true"/>
  <arg name="rviz" value="false"/>

  <!-- Run Monte Carlo Localization (many parameters in squirrel_localizer.launch) -->
  <include file="$(find squirrel_2d_localizer)/launch/squirrel_2d_localizer.launch">
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="use_last_pose" value="$(arg use_last_pose)"/>
  </include>

  <!-- Run pointcloud_filter_node: filter the PointCloud to speed up planning -->
  <include file="$(find squirrel_pointcloud_filter)/launch/pointcloud_filter.launch">
    <arg name="cloud_in" value="/kinect/depth/points"/>
    <arg name="voxelized_cloud_out" value="/kinect_voxelized_points"/>
  </include>

  <!-- Run the footprint observer -->
  <include file="$(find squirrel_footprint_observer)/launch/footprint_observer.launch">
    <arg name="config_file" value="$(find squirrel_footprint_observer)/config/robotino_full.yaml"/>
  </include>

  <!-- Run move_base -->
  <rosparam command="delete" ns="move_base"/> <!-- Fix move_base bug -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find squirrel_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find squirrel_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find squirrel_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find squirrel_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find squirrel_navigation)/config/local_planner_params.yaml" command="load" />
    <rosparam file="$(find squirrel_navigation)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find squirrel_navigation)/config/move_base_params.yaml" command="load" />
    <param name="GlobalPlanner/ARAstar/motion_primitives_filename" value="$(find squirrel_navigation)/motion_primitives/motion_primitives.mprim"/>
    <remap from="/cmd_vel" to="/cmd_navigation" if="$(arg twist_mux)"/>
  </node>
  
  <!-- Run the octomap server and the 3d collision check -->
  <include file="$(find squirrel_3d_mapping)/launch/3d_mapping.launch" if="$(arg 3d_mapping)"/>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="squirrel_navigation_rviz" 
	args="-d $(find squirrel_navigation)/rviz/squirrel_navigation.rviz" if="$(arg rviz)"/>

</launch>
