<launch>
  <arg name="mapping"/>
  <arg name="robot"/>
  <!-- start rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find squirrel_navigation)/config/$(arg robot)/rviz/rviz_hydro_navigation.rviz" unless="$(arg mapping)"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find squirrel_navigation)/config/$(arg robot)/rviz/rviz_hydro_gmapping.rviz" if="$(arg mapping)"/>
</launch>
